<h1>Company Address </h1>

<%= render layout: 'form' do |f| %>
  
  <%= f.fields_for :owner_organization do |organization_form| %>
  
	  <%= organization_form.hidden_field :name %>
	  <%= organization_form.hidden_field :employees %>
	  <%= organization_form.hidden_field :organization_type %>
	  <%= organization_form.hidden_field :demographic_market %>
      <% organization_form.object = f.object.owner_organization %> 
	  
	  <% organization_form.object.address = Address.new if organization_form.object.address.nil?  %>
	   
  	 <%= organization_form.fields_for :address do |address_form| %>
	 
	 	<div class="field">
	 		<%= address_form.label :address %><br />
	 		<%= address_form.text_field :address1 %>
	 	</div>

	 	<div class="field">
	 		<%= address_form.label :city %><br />
	 		<%= address_form.text_field :city %>
	 	</div>
	 	<div class="field">
	 		<%= address_form.label :state %><br />
	 		<%= address_form.text_field :state %>
	 	</div>

	 	<%= address_form.hidden_field :country, value: 'US' %>

	 	<div class="field">
	 		<%= address_form.label :phone %><br />
	 		<%= address_form.text_field :phone %>
	 	</div>
	 	<div class="field">
	 		<%= address_form.label :zipcode %><br />
	 		<%= address_form.text_field :zipcode %>
	 	</div>
		
	<% end %>

  <% end %>
  
<% end %>

