<h3>Company Address </h3>

<%= render layout: 'form' do |f| %>
  <% f.object.account ||= Account.new %>
  
  <%= f.fields_for :account do |account_form| %>
	  
	  <% account_form.object.organization ||= Organization.new %>
	  <%= account_form.fields_for :organization do |organization_form| %>
  
		  <%= organization_form.hidden_field :name %>
		  <%= organization_form.hidden_field :employees %>
		  <%= organization_form.hidden_field :organization_type %>
		  <%= organization_form.hidden_field :demographic_market %>
		  
		  <% organization_form.object.address ||= Address.new %>
		  <%= organization_form.fields_for :address do |address_form| %>
	 
		 	<div class="form-group">
		 		<%= address_form.label :address %><br/>
		 		<%= address_form.text_field :address1 %>
		 	</div>

		 	<div class="form-group">
		 		<%= address_form.label :city %><br/>
		 		<%= address_form.text_field :city %>
		 	</div>
		
		 	<div class="form-group">
		 	   <%= address_form.label :state %><br/>
		 	   <%= select_tag :state, options_for_select(
			   %W[AL AK AS AZ AR CA CO CT DE DC FM FL GA GU HI ID IL IN IA KS KY LA ME MH MD
	MA MI MN MS MO MT NE NV NH NJ NM NY NC ND MP OH OK OR PW PA PR RI SC SD TN
	TX UT VT VI VA WA WV WI WY]) %>
		 	</div>

		 	<%= address_form.hidden_field :country, value: 'US' %>

		 	<div class="form-group">
		 		<%= address_form.label :phone, html: {for: "phone" } %><br/>
		 		<%= address_form.text_field :phone, html: {type:"text", id:"phone", class:"form-control"} %>
		 	</div>
		
		 	<div class="form-group">
		 		<%= address_form.label :zipcode %><br/>
		 		<%= address_form.text_field :zipcode %>
		 	</div>
		
		<% end %>

	  <% end %>
  <% end %>
<% end %>

