<% model = params[:controller].split('dashboard/')[1] %>
<% action = params[:action] %>
<ul class="nav nav-tabs" role="tablist">
	<li class= <%= "active" if action == 'index' %> > <%=link_to "Time line", "/dashboard/#{model}" %> </li>
	<% {wday: 'Week days', hour: 'Hours', status: 'Status', sources: 'Sources'}.each do |meth, link| %>
		<li class= <%= "active" if action == "by_#{meth}" %> > 
			<%=link_to "#{link}", "/dashboard/#{model}/by-#{meth}" %> 
		</li>
	<% end %>
</ul>


<% controller = params[:controller] %>
<% action = params[:action] %>
<div class="chart-nav pull-right">
	<strong>Select period: </strong>
	<ul id="sales-stat-tab">
		<% {day: "Daily", week: "Weekly", month: "Monthly" }.each do |period, presentation| %>
		    <li class="<%= 'active' if @filter == period %>">
				<%=link_to :controller => controller, :action => action, :filter => period  do %>
			        <span class="text"><%= presentation %></span>
			    <% end %>
		    </li>
         <% end %>
	</ul>
</div>

