      <%= label_tag :datetime, 'DateTime' %>
      <div class="input-group date" id="datetimepicker">
        <%= text_field_tag :datetime, nil, class: 'form-control', data: { date_format: 'YYYY/MM/DD' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>

<%= render 'dashboard/shared/form_sales' %>
<% puts @data.inspect %>
<% if false 
# @data[0][:data].empty? %>
    <h3>Elements not found.</h3>
<%else%>
    <% if params[:filter_type] %>
        <%= line_chart @data, library: {chart:{zoomType:'x',style: {overflow: 'visible'}}} %>
    <% else %>
        <%= line_chart @data, library: {tooltip:{enabled:false},chart:{zoomType:'x',style: {overflow: 'visible'}} } %>
    <% end %>
    <br/>


    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker5'>
              <input type='text' class="form-control" data-date-format="YYYY/MM/DD"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    //pickTime: false
                });
            });
        </script>
      </div>
    </div>

	<%= render 'dashboard/shared/data_table', data: @main_data %>

<%end%>

