<ul class="nav nav-sidebar">
  <li >
    <%=link_to root_path do %>
        Overview
    <% end %>
  </li>

  <li>
    <a href="#">Sales</a>
    <ul class="nav">
      <% ['revenues','transactions','items'].each do |resource| %>
          <li>
            <%=link_to  "/dashboard/sales/#{resource}" do %>
                <span class="text"><%= resource.camelize %></span>
            <% end %>
          </li>
      <% end %>
      </ul>
  </li>

  <li class="divider"></li>

  <li>
    <a href="#">Inventory</a>
      <ul class="nav">
          <li>
            <%=link_to  :controller => 'dashboard/sales/product', :action => 'by_categories' do %>
                <span class="text">Quantity</span>
            <% end %>
          </li>
          <li>
            <%=link_to :controller => 'dashboard/sales/product', :action => 'by_value_categories' do %>
                <span class="text">Value</span>
            <% end %>
          </li>
      </ul>
  </li>
</ul>




